<div class="row row_recommended_books">
	<div class="col-sm-3 profile_books">
		<img src="/profiles_picture/{{picture}}.jpg" class="profile_picture profile_padding">
		<span class="profile_name profile_police"><span class="name">{{user.name}} @{{user.nick}}</span></br>{{user.gender}} {{user.birthDate}} <br/>Student</br><span class="yellow">Langage</span></br>{{user.lang}}</span>
	</div>
	<div class="col-sm-8 recommended_books">
		<h1>Interests</h1>
		<p class="interest">{{user.genre}}</p>
	</div>
</div>
<div class="row align-items-center justify-content-center">
	<div class="col-sm-12 text-center recommended_books">
		<h1>Recommended books</h1>
		<ul>
			{{#each books}}
				<p class="interest">{{author}} <a href="/book/{{id}}">{{title}}</a> {{lang}}</p>
			{{/each}}
		</ul>
	</div>
</div>
