<div class="row book_row">
	<div class="col-sm-12 book_infos">
		<img src="book_1.jpg" alt="book_picture" class="book_1">
		<span class="profile_name">
			<p>{{book.title}}, {{book.lang}}, {{book.date}}<br/></p>
			<p class="author">Author: {{book.author}}<br/></p>
			<p class="description ">{{book.description}}</p>
		</span>
	</div>
</div>
