<h1>User Profiles</h1>

<div class="row align-items-center justify-content-center">
{{#each users}}
	<div class="col-sm-6 text-center">
		<a href="/books/{{id}}" class="profiles_1_2">
			<img src="/profiles_picture/user_{{@index}}.jpg" alt="profile_picture" class="profile_picture">
			<span class="profile_name_users">{{name}} @{{nick}} <br/>{{gender}} {{birthDate}}</span>
		</a>
	</div>
	{{#if (isEven id)}}
		</div>
		<div class="row align-items-center justify-content-center">
	{{/if}}
{{/each}}